.Banner{
    background-image: url('https://foodingly.netlify.app/assets/img/banner/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;

    &-container {
        display: flex;
        flex: 1;
        padding: 138px 231.5px;
    }

    &-content {
        padding: 90.5px 6px;
        width: 100%;
    }

    &-text {
        font-family: $font-primary;
        font-size: 18px;
        padding: 20px 0;

        &.title {
            font-family: $font-default;
            font-size: 83px;
            font-weight: bold;
            line-height: 90px;
        }
    }

    &-image {
        background-image: url('https://foodingly.netlify.app/assets/img/banner/bg1.png');
        background-repeat: no-repeat;
        background-position: right;
        height: 610px;
        margin: 0 12px;
        width: 100%;
    }

    @include media-breakpoint-down(lg) {
        background-repeat: no-repeat;
        background-position:initial;
        height: fit-content;

        &-container {
            flex-direction: column;
            padding: 0 ;
        }
        &-content {
            padding: 35px 25px 0;
        }

        &-text {
            &.title{
                font-size: 55px;
                line-height: 75px;
                width: 650px;
            }
        }
        
        &-image {
            background-position: center;
            background-size: contain;
            height: 348px;
            margin: 0 25px 30px;
            width: 348px;
        }
    }

    @include media-breakpoint-down(sm){
        height: fit-content;
        padding: 30px 15px 50px;

        &-image{
            display: none;
        }

        &-container{
            padding: 0;
            width: 100%;
        }

        &-content {
            padding: 0;
        }

        &-text {
            font-size: 14px;
            padding: 20px 0 0;
            line-height: 30px;
            width: 340px;
    
            &.title {
                font-family: $font-default;
                font-size: 45px;
                font-weight: bold;
                line-height: 50px;
                
            }
        }
    }
}