.Blog {
    display: flex;
    justify-content: space-between;
    
    &-card {
        background-color: $white;
        border-radius: 12px;
        height: 570px;
        transition: all 0.5s ease-in;
        width: 456px;
        &:hover {
            .Blog-image{
                transform: scale(1.2) rotate(3deg);
            }
        }
    }

    &-header {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        height: 274px;
        overflow: hidden;
        width: 100%;
    }

    &-span {
        background-color: $green;
        border-radius: 5px;
        color: $white;
        font-family: $font-default;
        font-size: 14px;
        margin: 8px;
        padding: 8px 15px;
        position: absolute;
        z-index: 1;
    }

    &-image {
        cursor: pointer;
        height: 100%;
        overflow: hidden;
        transition: all 0.3s ease-in;
        width: 100%;
    }

    &-body {
        display: flex;
        flex-direction: column;
        padding: 20px 20px 0;
        text-align: start;
    }

    &-title {
        color: $black;
        font-family: $font-default;
        font-size: 24px;
        font-weight: 500;
        padding-top: 20px;
        transition: all 0.3s ease-in;
        width: 416px;

        &:hover {
            color:$green;
            cursor: pointer;
        }
        
        &.info {
            font-size: 16px;
            font-style: 600;
            padding-top: 10px;
            width: fit-content;
        }
    }

    &-text {
        color: $gray-darkness;
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        padding-top: 20px;

        &.info {
            font-size: 14px;
            padding: 0px;
            width: fit-content;
        }
    }

    &-footer {
        border-top: 1px solid $gray;
        display: flex;
        flex: 1;
        flex-direction: row;
        margin-top: 25px;
        padding: 10px;
        width: 100%;
    }

    &-icon {
        height: 38px;
        width: 38px;
    }

    &-info {
        display: flex;
        flex-direction: column;
        width: 100%;

        &.icon{
            width: 35%;
        }
    }

    &-date {
		align-items: center;
        border-right: 1px solid $gray;
		display: flex;
		width: 100%;
    }

    &-user {
        display: flex;
		align-items: center;
		margin-left: 24px;
		width: 100%;
    }

    @include media-breakpoint-down(lg) {
        flex-wrap: wrap;
        justify-content: start;

        &-card {
            height: 526px;
            margin: 0 15px 30px;
            width: 336px;
        }

        &-header {
            height: 201px;
        }

        &-image {
            width: 336px;
        }

        &-title {
            width: 100%;
        }

        &-info {
            padding-right: 10px;
        }
    }

    @include media-breakpoint-down(sm){
        justify-content: center;

        &-card {
            height: 581px;
        }

        &-footer {
            flex-direction: column;
        }

        &-date {
            margin-left: 24px;
        }
    }
}