.Chefs {
    display: flex;
    justify-content: space-between;

    &-card{
        background-color: $white;
        box-shadow: $shadow;
        height: 350.81;
        margin-bottom: 30px;
        overflow: hidden;
        padding: 0 12px;
        position: relative;
        width: 336px;

        &:hover {
            cursor: pointer;

            .Chefs-social {
                opacity: 1;
				transform: translateY(0px);
				transition: 0.4s all ease-in-out;
			}
		}
    }

    &-image {
        height: 340.81px;
        width: 326px;
    }

    &-social {
        align-items: center;
        bottom: 0;
        background-color: $white;
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        height: 88px;
        opacity: 0;
        position: absolute;
        transform: translateY(80px);
        transition: 0.4s all ease-in-out;
        padding: 10px;
    }

    &-icons{
        justify-content: space-between;
        margin: -25px 0 10px;
        width: 306px;
    }

    &-icon {
        background-color: $white;
        border-radius: 100%;
        color: $green;
        cursor: pointer;
        font-size: 30px;
        margin: 0 6px;
        transition: all 0.3s ease-in;
        padding: 5px;

        &:hover {
            background-color: $green;
            color: $white;
        }
    }

    &-name {
        color: $green;
        font-family: $font-default;
        font-size: 20px;
        margin-bottom: 4px;
        width: fit-content;
    }

    &-job {
        color: $gray-darkness;
        font-family: $font-primary;
        font-size: 14px;
        padding: 1px;
        width: fit-content;
    }

    @include media-breakpoint-down(lg){
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}