.DinnerPlan{
    align-items: center;
    background-color: $white;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 80px 231.5px;

    &-content {
        width: 100%;
    }

    &-containerImage {
        width: 100%;
    }

    &-title {
        font-family: $font-default;
        font-size: 53px;
        font-weight: 500;
        line-height: 80px;
    }

    &-span {
        color: $gray-darkness;
        font-family: $font-default;
        font-size: 20px;
        font-weight: 500;
        line-height: 35px;
        padding-bottom: 35px;
        max-width: 696px;
    }

    @include media-breakpoint-down(lg){
        padding: 80px 24px;

        &-containerImage{
            justify-content: flex-start;
        }

        &-image {
            height: 197px;
            margin-bottom: 230px;
            width: 336px;
        }

        &-title {
            font-size: 41px;
            font-weight: 700;
            line-height: 58px;
            margin: 0;
            width: 340px;
        }

        &-span {
            font-size: 20px;
            letter-spacing: 0.8px;
            line-height: 30px;
            width: 310px;
        }
    }

    @include media-breakpoint-down(sm) {
        &-containerImage {
            display: none;
        }
    }
}