.DownloadApp {
    align-items: center;
    background-color: $white;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 80px 231.5px;

    &-content {
        width: 100%;
    }

    &-title {
        padding: 50px 0 20px;
    }

    &-text {
        font-family: $font-default;
        font-size: 53px;
        font-weight: 500;
        line-height: 80px;
    }

    &-textmobile {
        display: none;
    }

    &-span {
        color: $gray-darkness;
        font-family: $font-primary;
        font-size: 20px;
        font-weight: 500;
        line-height: 35px;
        padding-bottom: 35px;
        letter-spacing: 1px;
    }

    &-icons {
        padding-top: 20px;
    }

    &-button {
        margin: 0 20px 0 0;
    }

    &-image {
        background-image: url("https://foodingly.netlify.app/assets/img/promotion/app.png");
        background-repeat: no-repeat;
        background-position: center;
        height: 556px;
        width: 100%;
    }

    @include media-breakpoint-down(lg) {
        padding: 80px  90px;

        &-image {
            display: none;
        }

        &-text {
            display: none;
        }

        &-textmobile{
            display: flex;
            font-size: 41px;
            line-height: 60px;
        }
    }

    @include media-breakpoint-down (sm) {
        padding: 40px 50px;
        
        &-title {
            padding: 0;
        }
        
        &-textmobile {
            font-size: 24px;
            line-height: 38px;
        }

        &-contspan{
            width: 290px;
        }

        &-span {
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0.8px;
        }

        &-button {
            height: 37px;
            width: 107px;
        }
    }
}