.Offers {
    background-image: url("https://foodingly.netlify.app/assets/img/common/counter_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 480px;
    text-align: center;
    padding: 80px 603px;

    &-heading {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        place-items: center;
    }

    &-title {
        font-family: $font-default;
        font-size: 20px;
        font-weight: lighter;
    }

    &-subtitle {
        font-family: $font-default;
        font-size: 53px;
        font-weight: 500;
        padding-top: 20px;
        margin-bottom: 45px;
    }

    @include media-breakpoint-down(lg){
        background-size: cover;
        height: 340.5px;
        padding: 80px 12px;
        width: 100%;

        &-subtitle {
            font-size: 30px;
            margin-bottom: 30px;

        }
    }
}