.Products {

	&-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 24px;
		margin: 0 auto;
	}

	&-filters {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 35px;
		justify-content: center;
		margin-bottom: 30px;
		width: 100%;
	}

	&-card {
		background-color: $white;
		border-radius: 11px;
		height: 400px;
		margin-bottom: 10px;
		overflow: hidden;
		position: relative;
		width: 336px;

		&:hover {
			box-shadow: $shadow;

			.Products-cardImage {
				transform: scale(1.2);
			}
		}
	}

	&-header {
		background-color: $white;
		border-radius: 11px;
		width: 100%;
		padding: 10px;
		position: relative;
	}

	&-body {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		padding: 20px 15px;
	}

	&-image {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 198px;
		object-fit: cover;
		transition: all 0.4s ease-in-out;
		width: 100%;
	}

	&-title {
		color: $black;
		cursor: pointer;
		font-family: $font-default;
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 10px;
		transition: color 0.4s ease-in-out;
		text-transform: lowercase;
		text-transform: capitalize;
		width: fit-content;

		&:hover {
			color: $green;
		}
	}

	&-discount {
		background-color: $green;
		color: $white;
		border-radius: 100%;
		bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $font-default;
		font-size: 16px;
		font-weight: 500;
		height: 45px;
		line-height: 45px;
		position: absolute;
		right: 40px;
		text-align: end;
		width: 45px;
	}

	&-info {
		margin-bottom: 10px;
	}

	&-rating {
		color: $green;
		font-family: $font-primary;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		width: fit-content;
	}

	&-review {
		color: $gray-darkness;
		font-family: $font-primary;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		margin-left: 10px;
		width: fit-content;
	}

	&-price {
		font-family: $font-default;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 0;
	}

	&-add {
		bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
		position: absolute;
		width: 100%;
	}

	.filterActive {
		color: $black;
	}

	@include media-breakpoint-down(lg) {
		&-list {
			display: flex;
			justify-content: space-evenly;
		}
	}
}
