.Reservation {

    &-card {
		background-color: $white;
		border-radius: 10px;
		box-shadow: $shadow;
		height: 360px;
		padding: 20px;
		position: relative;
		transition: 0.4s all ease-in-out;
		text-align: left;
		width: 324px;

		&:hover {
			background-color: $green;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			transform: translateY(-10px);

			.Reservation-title,
			.Reservation-paragraph {
				color: $white;
			}
		}
	}
    
    
    &-icon {
        height: 40px;
        width: 40px;
    }

    &-title {
        color: $green;
        font-family: $font-default;
        font-size: 24px;
        font-weight: 300;
        padding-top: 25px;
    }

    &-paragraph {
        color: $gray-darkness;
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin: 18px 0 25px;
    }

    &-image {
        height: 100px;
        width: 50%;
    }

    
    &-carousel {
        margin: 0 auto;
		margin-bottom: 40px;
		width: 100%;
    }
}