.Subscribe {
    background-color: $white;
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 264px;
    padding: 80px 243.81px;

    &-form {
        width: 80%;
        text-align: center;

        
    }

    &-icon {
        display: flex;
        width: 100%;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        width: 100%;
    }

    &-image {
        height: 100%
    }

    &-title {
        color: $black;
        font-family: $font-default;
        font-size: 20px;
        font-weight: 600;
    }

    &-span {
        color: $black;
        font-family: $font-default;
        font-size: 36px;
        font-weight: 600;
        padding-top: 16px;
    }

    &-input {
		border: 2px dashed $gray;
		font-size: 16px;
		font-weight: 400;
		height: 55px;
		padding: 10px 22px;
		width: 427.5px;

		&:focus {
			border: 2px dashed $green;
			outline: none;
		}
	}

    @include media-breakpoint-down(lg) {
        flex-direction: column;
        padding: 80px 30px;
        margin-bottom: 80px;

        &-image {
            height: 88px;
        }

        &-text {
            width: 100%;
        }

        &-span {
            padding-top: 0px;
        }

        &-form {
            display: flex;
            margin-top: 30px;
            width: 100%;
        }

        &-input {
            width: 590px;
        }
    }

    @include media-breakpoint-down(sm) {
        height: 399px;
        padding: 40px 12px;
        &-icon {
            flex-direction: column;
        }

        &-image {
            height: 104px;
            width: 122px;
        }

        &-text {
            padding: 15px 0 0 0 ;
        }

        &-title {
            font-size: 16px;
        }

        &-span {
            font-size: 29px;
        }
    }
}