.Testimonials {
    display: flex;

    &-cards{
        align-items: center;
        background-color: $white;
        border-radius: 12px;
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        height: 317px;
        justify-content: center;
        margin: 0 5px 30px;
        width: 465px;
    }

    &-review {
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        padding: 0 20px;
        width: 100%;
    }

    &-rank {
        margin-top: 35px;
    }


    &-name {
        font-family: $font-default;
        font-size: 20px;
        font-weight: 500;
        padding-top: 20px;
        width: fit-content;
    }

    &-text {
        color: $gray-darkness;
        font-family: $font-primary;
        font-size: 16px;
        padding-top: 15px;
        text-align: center;
        width: 425px;

        &.date {
            color: $black;
            margin-top: 35px;
            width: fit-content;
        }

        &.rank {
            color: $black;
        }
    }

    &-star {
        color: $green;
    }

    &-carousel {
        margin: 0 auto;
		margin-bottom: 40px;
		width: 100%;
    }

    @include media-breakpoint-down(lg) {
        &-cards {
            height: 373px;
            width: 343px;
        }

        &-text{
            width: 303px;
            line-height: 28px;
        }
    }
}