.Button {
    background-color: $green;
    border: 2px solid $green;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    transition: all 0.3s ease-in 0.1s;

    &.header {
		padding: 7px 10px;
		&:hover {
			background-color: $white;
			color: $black;
		}
	}

    &.offers,
    &.dinnerplan {
		border: none;
		display: inline-block;
		font-family: $font-primary;
		font-size: 18px;
		padding: 12px 35px;

		&:hover {
			background-color: $black;
			color: $white;
		}
	}

    &.subscribe {
		border: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		font-size: 18px;
		
		height: 55px;
		padding: 12px 35px;
		&:hover {
			background-color: $black;
			color: $white;
		}
	}
	
	&.products {
		border: 2px solid $green;
		padding: 8px 30px;
		transition: all 0.4s ease-in-out;

		&:focus {
			color: $black;
		}

		&:hover {
			background-color: $green;
			color: $black;
		}
	}

	&.addProduct {
		color: $black;
		background-color: $white;
		border: 1px solid $green;
		font-size: 14px;
		padding: 5px 18px;

		&:hover {
			background-color: $black;
			color: $white;
		}
	}

	&.checkout {
		border: none;
		color: $white;
		font-family: $font-default;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
		padding: 5px 18px;

		&:hover {
			background-color: $black;
		}
	}
	

	@include media-breakpoint-down(lg) {
		&.header {
			display: none;
		}

		&.offers,
		&.dinnerplan {
			font-size: 15px;
			padding: 12px 20px;
		}

		&.subscribe {
			font-size: 15px;
			padding: 12px 20px;
		}

		&.products {
			color: $black;
			padding: 6px 20px;
			background-color: transparent;

			&:focus {
				background-color: $green;
			}
		}
	}

	@include media-breakpoint-down(sm){
		
		&.header {
			display: none;
		}

		&.products {
			font-size: 14px;
			padding: 4px 12px;
		}
	}

	
}