.Cart {
    width: 100%;
    padding: 15px;

    &-top {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &-counter {
		font-family: $font-default;
		font-size: 17px;
		font-weight: 400;
		text-transform: uppercase;
	}
    
    &-close {
		font-size: 18px;
		transition: all 0.2s ease-in-out;
		&:hover {
			color: $red;
		}
	}

    &-icon {
		font-size: 22px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
    
        &:hover {
            color: $red;
        }
    }
    
    &-product {
        align-items: center;
        border-bottom: 1px dashed $gray;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 15px 0;
    
        &:hover {
            .Cart-icon {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 34.63px;
		width: 55px;
	}

    &-itemInfo {
		margin-left: 20px;
		margin-right: 75px;
	}

    &-title {
		color: $green;
		font-family: $font-primary;
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 0;
		text-transform: capitalize;
	}
	&-price {
		margin-bottom: 0;
	}

    &-void {
        font-size: 26px;
        font-weight: 500;
    }

    &-total {
		align-items: center;
		border-bottom: 1px dashed $gray;
		color: $black;
		display: flex;
		justify-content: space-between;
		font-family: $font-default;
		font-size: 15px;
		font-weight: 600;
		line-height: 1.5;
		margin: 20px 0;
	}
}

