.Copyright {
    align-items: center;
    background-color: $gray-light;
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 65px;
    width: 100%;
    padding: 0 242px;

    &-text {
        width: 100%;
    }

    &-span {
        color: $black;
        font-family: $font-primary;
        font-size: 14px;
        font-weight: bold;
    }

    &-icons {
        text-align: end;
        width: 100%;
        padding-top: 15px;
    }

    &-icon {
        color: $gray-dark;
        font-size: 45px;
        padding: 0 5px;
    }

    @include media-breakpoint-down(lg) {
        padding: 0 30px;

        &-icons{
            padding-bottom: 25px;
        }
    }
    
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
        height: fit-content;

        &-text {
            padding-top: 20px;
            text-align: center;
        }

        &-icons {
            padding: 0;
            text-align: center;
        }
    }
}