.Dropdown {
	display: inline-block;

	.btn {
		background-color: transparent;
		border: none;
		border-radius: 0;
		box-shadow: none;
		color: $white;
		font-family: $font-default;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.5;
		margin: 0 15px;
		padding: 0;

		&::after {
			display: none;
		}

		&:hover {
			background-color: transparent;
			color: $black;
			box-shadow: none;
		}

		&:active {
			background-color: transparent;
			border: none;
			&:focus {
				border: none;
				border-color: transparent;
				background-color: transparent;
				box-shadow: none;
			}
		}

		&:focus {
			background-color: transparent;
			border: none;
			box-shadow: none;
		}

		&:focus-visible {
			background-color: transparent;
			border: none;
		}
	}

	&-options {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 7px;

		&::after {
			background: $gray;
			display: inline-flex;
			content: '';
			height: 15px;
			margin-left: 10px;
			opacity: 0.6;
			position: relative;
			width: 2px;
		}
	}

	&.hamburguer {
		.dropdown-menu.show {
			height: 245px;
			overflow: scroll;
			padding: 0;
			width: 700px;
			inset: 15px 0px auto auto !important;
		}

		.dropdown-item {
			border-bottom: 1px solid $gray;
			font-family: $font-default;
			font-size: 15px;
			font-weight: 400;
			line-height: 1.5;
			padding: 15px 33.9375px;
		}
	}

	&.dots {
		width: fit-content;
		.dropdown-item {
			text-align: center;
		}
	}

	@include media-breakpoint-down(sm) {
		&.hamburguer {
			.dropdown-menu.show {
				height: 245px;
				overflow: scroll;
				padding: 0;
				width: 350px;
				inset: 15px 0px auto auto !important;
			}
		}
	}
}
