.Footer {
    padding: 100px 0;

    &-container {
        display: flex;
        padding: 0 240px;

    }

    &-row{
        display: flex;
        width: 100%;
    }

    &-column {
        display: flex;
        flex-direction: column;
        width: 50%;
        
        &.link {
            padding-left: 125px;
        }

        &.support {
            width: 30%;
        }
        
        &.hours {
            width: 70%;
        }
    }

    &-title {
        border-bottom: 1px solid $green;
        font-family: $font-default;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 5px;
        width: fit-content;
    }

    &-content {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-top: 20px;

        &.help {
            border-left: 2px solid $green;
            padding-left: 10px ;
        }
    }

    &-text {
        font-family: $font-default;
        font-size: 16px;
        font-weight: 400;
        transition: color 0.5s ease-in-out;
        width: fit-content;

        &.help {
            font-weight: 500;
        }

        &.url {
            color: $green;
            font-size: 24px;
            padding-top: 8px;
            text-decoration: none;

            &:hover {
                color: $black;
            }
        }

        &.link {
            cursor: pointer;
            line-height: 1.5;
            padding-bottom: 15px;
            

            &:hover {
                color: $green;
            }
        }
    }

    &-social {
        font-size: 20px;
    }

    &-icon {
        color:  $green;
        cursor: pointer;
        font-size: 20px;
        margin: 8px 2px 0;
        transition: color 0.5s ease-in-out;

        &:hover {
            color: $black;
        }
    }

    &-table {
        border: 2px solid $gray-light;
        border-collapse: collapse;
        font-family: $font-default;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        

        &.cell {
            padding: 10px 30px 10px 10px;
            width: 50%;
        }
    }

    @include media-breakpoint-down (lg) {
        padding: 70px 0 40px;
        width: 100%;

        &-container {
            flex-direction: column;
            padding: 0 20px;
        }

        &-column {
            display: flex;
            flex-direction: column;
            padding: 20px 12px;
            width: 50%;
            
            &.link {
                padding-left: 12px;
            }
    
            &.support {
                width: 30%;
            }
            
            &.hours {
                width: 70%;
            }
        }

        &-text {
    
            &.url {
                padding-top: 4px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &-container {
            width: 100%;
        }

        &-row {
            width: 100%;
            flex-direction: column;
        }

        &-column {
            padding: 30px 12px;
            width: 100%;

            &.support{
                width: 100%;
            }

            &.hours {
                width: 100%;
            }
        }

        &-text {
            width: 100%;
        }
    }
}