.NavbarMobile {
    align-items: center;
    background-color: $white;
    box-shadow: $shadow;
    display: none;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px 24px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;

    &-image {
        background-image: url('https://foodingly.netlify.app/assets/img/logo.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		object-fit: cover;
		height: 35.63px;
		width: 175.5px;
    }

    &-option {
		color: $black;
		font-size: 30px;
	}

	&-icon {
		color: $gray-darkness;
		font-size: 22px;
	}

    &-contact {
        color: $black;
        text-decoration: none;
    }

    @include media-breakpoint-down(lg) {
        display: flex;
    }

}