.NavbarBottom {
    background-color: $white;
    display: flex;
    height: 66px;
    padding: 12px 240px;
    position: sticky;
	top: 0px;
    width: 1903px;
    z-index: 3;

    &-logo {
        margin-right: 10px;
    }

    &-list {
        color: $black;
        display: flex;
        list-style: none;
        text-decoration: none;
    }

    &-text {
        color: $black;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 16px;
        line-height: 3;
        padding: 0 15px;
        text-decoration: none;

        &:hover{
            color: $black;
        }
    }

    &-options {
        align-items:center;
        display: flex;
        justify-items: end;
        margin-left: 340px;
        width: fit-content;
    }

    &-icons {
        position: relative;
    }

    &-icon {
        color: $black;
        cursor: pointer;
        font-size: 28px;
        margin: 0px 10px;
        
        &.second {
            color: $green;
        }

        &.third {
            font-size: 10px;
            margin: 0;
        }
    }

    &-item{
        &:hover{
            .NavbarBottom-submenu {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
			}
        }
    }

    &-submenu {
        background-color: $white;
        border-radius: 8px;
        box-shadow: $shadow;
        opacity: 0;
        padding: 10px 0;
        position: absolute;
        transform: translateY(70px);
        transition: 0.4s all ease-in-out;
        visibility: hidden;
        width: 230px;
    }    

    &-submenuItem {
        font-size: 15px;
        font-weight: 600;
        list-style: none;
        padding: 0px 25px;
        position: relative;
    
        &:hover {
            background-color: $gray;
        }
    }

    &-submenuLink {
        font-family: $font-primary;
        color: $black;
        text-decoration: none;
        transition: color 0.4s ease-in;
    
        &:hover {
            color: $green;
        }
    }

    &-counter {
        align-items: center;
		background-color: $green;
		border-radius: 100%;
		color: $white;
        cursor: pointer;
		display: flex;
		font-family: $font-default;
		font-size: 10px;
        font-style: normal;
		font-weight: 400;
		height: 15px;
		justify-content: center;
		position: absolute;
        right: 56px;
        bottom: 12px;
		text-align: center;
		width: 15px;

	}
    
    @include media-breakpoint-down(lg){
        display: none;
        padding: 12px;
        width: 100%;

        &-list {
            display: none;
        }
    }

    @include media-breakpoint-down(sm){
        display: none;
        padding: 12px 0;

        &-options {
            margin: 0 0 0 100px;
            width: 100%;
        }
    }
}