.NavbarTop {
    align-items: center;
    background-color: $green;
    display: flex;
    flex: 1;
	flex-direction: row;
    height: 45px;
    padding: 10px 242px;
    width: 100%;

    &-container {
        align-items: center;
        display: flex;
        flex: 1;
	    flex-direction: row;
        width: 100%;
    }

    &-left {
        width: 100%;
        text-align: center;
    }

    &-right {
        text-align: end;
        width: 100%;
    }

    &-list{
        display: inline-block;
        list-style: none;
        position: relative;
    }

    &-span {
        color: $white;
        cursor: pointer;
        font-family: $font-default;
        font-size: 14px;
        padding: 0 10px;
        transition: color 0.6s ease-in-out;

        &:hover {
            color: $black;
        }

        &::before {
            background-color: $gray;
            content: "";
            height: 15px;
            left: -15px;
            position: absolute;
            top: 2px;
            width: 1px;
          }
    }

    &-social {
        color: $white;
        width: 20%;
        cursor: pointer;
        text-align: start;
    }

    &-text {
        width: 100%;
        text-align: start;
    }

    &-icon {
        font-size: 26px;
        padding: 0 5px;
    }

    @include media-breakpoint-down(lg){
        padding: 10px 0;

        &-left {
            padding: 0 10px;
        }

        &-right {
            padding: 10px;
        }

        &-social {
            display: none;
        }

        &-span {
            font-size: 14px;
        }
    }

    @include media-breakpoint-down(sm){
        display: none;
    }
    
}