.Section {
    background-color: $gray;
    height: auto;
    padding: 80px 243.5px;
    width: auto;

    &-heading {
      text-align: center;
    }

    &-top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }

    &-title {
        font-family: $font-default;
        font-size: 24px;
        font-weight: lighter;
    }

    &-arrow {
        height: 16px;
        margin: 6px 1px 0;
        width: 40px;
    }

    &-subtitle {
        font-family: $font-default;
        font-size: 36px;
        font-weight: bold;

        &::after {
            background-color: $green;
            content: '';
            display: block;
            height: 1px;
            margin: 10px auto 40px auto;
            width: 200px;
        } 
    }

    @include media-breakpoint-down(lg){
        padding: 80px 12px;
    }

    @include media-breakpoint-down(sm){
        padding: 60px 0 0;

        &-title {
            font-size: 24px;
        }

        &-subtitle {
            font-size: 26px;
            letter-spacing: 0.4px;
        }
    }
}