.BannerC {
    background-image: url("https://foodingly.netlify.app/assets/img/banner/common-banner.png");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 348px;

    &-content {
        justify-content: center;
        padding: 150px 243.5px 130px;
        text-align: center;
        width: 100%;
    }

    &-title {
        color: $white;
        font-family: $font-default;
        font-size: 36px;
    }

    &-pages {
        display: flex;
        justify-content: center;
        list-style: none;
        text-align: center;
    }

    &-home {
        color: $white-opacity;
        font-family: $font-default;
        font-size: 16px;
        text-decoration: none;
        transition: color 0.4s ease-in;

        &:hover {
            color: $green
        }
    }

    &-icon {
        color: $white;
        font-size: 10px;
        margin: 0 8px;
    }

    &-item {
        color: $white;
        font-family: $font-default;
        font-size: 16px;
    }

    @include media-breakpoint-down(lg) {
        &-content {
            padding: 150px 15px 130px;
        }
    }
}