.CardContact {
    background-color: $white;
    border-radius: 5%;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    height: 238px;
    justify-content: center;
    padding: 30px 15px;
    text-align: center;
    width: 336px;

    &-heading {
        color: $black;
        font-family: $font-default;
        font-size: 16px;
        padding-bottom: 15px;
    }

    &-body {
        color: $black;
        font-family: $font-default;
        font-size: 20px;
        padding-bottom: 20px;
    }

    &-footer {
        color: $gray-darkness;
        font-family: $font-primary;
        font-size: 16px;
        padding-bottom: 15px;
    }

    &-link {
        align-self: center;
        color: $green;
        font-family: $font-default;
        font-size: 16px;
        text-decoration: none;
        width: fit-content;
    }

    @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
    }
}