.ContactWU {
    background-color: $gray;
    height: fit-content;
    padding: 80px 243.5px;

    &-top {
        width: 100%;
        margin-bottom: 40px;
    }

    &-title {
        color: $black;
        font-family: $font-default;
        font-size: 36px;
        font-weight: lighter;
        text-align: center;

        &::after {
            background: $green;
            content: '';
            display: block;
            height: 1px;
            left: 50%;
            margin-top: 15px;
            position: absolute;
            transform: translate(-50%, 50%);
            width: 200px;
        }
    }

    &-center {
        display: flex;
        justify-content: space-between;
        padding: 35px 0;
    }

    &-text {
        color: $black;
        font-family: $font-default;
        font-size: 30px;
        font-weight: 600;

        &.link {
            color: $green;
            cursor: pointer;
            text-decoration: none;
            transition: color  0.3s ease-in;

            &:hover {
                color: $black;
            }
        }
    }

    &-bottom {
        display: flex;
        justify-content:space-between;
    }

    @include media-breakpoint-down(lg) {
        padding: 80px 24px;

        &-bottom {
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

    }

    @include media-breakpoint-down(sm) {
        &-center {
            flex-direction: column;
        }
    }

}