.Message {
    background-color: $gray;
    padding-bottom: 30px;

    &-title {
        color: $black;
        font-family: $font-default;
        font-size: 36px;
        font-weight: lighter;
        text-align: center;

        &::after {
            background: $green;
            content: '';
            display: block;
            height: 1px;
            left: 50%;
            margin-top: 15px;
            position: absolute;
            transform: translate(-50%, 50%);
            width: 200px;
        }
    }

    &-form {
        background-color: $white;
        border-radius: 12px;
        box-shadow: $shadow;
        margin: 60px auto;
        max-width: 936px;
        padding: 35px;
        position: relative;
        width: 100%;
    }

    &-input {
        margin-bottom: 30px;
    }

    &-error {
        padding-left: 10px;
        color: $red;
    }

    &-field {
        border: 2px dashed $gray;
        border-radius: 0.25rem;
        box-shadow: $shadow;
        color: $black;
        display: block;
        font-family: $font-default;
        font-size: 16px;
        font-weight: 400;
        height: 55px;
        line-height: 1.5;
        margin-bottom: 5px;
        padding: 10px 22px;
        transition: all 0.2s ease-in-out;
        width: 100%;

        &.message {
            height: 124px;
        }

        &:focus {
            border: 2px dashed $green;
        }

        &:focus-visible {
            outline: none;
        }
    }

    @include media-breakpoint-down(lg){
        padding: 30px;
    }
}