$font-primary: 'Poppins', sans-serif; 
$font-secondary: 'Open Sans', sans-serif;
$font-default: 'Roboto', sans-serif;

$green: #80C100;
$gray: #e5e5e5;
$gray-light: #F3F6FD;
$gray-dark: #B8B8B8;
$gray-darkness: #818090;
$white: #fff;
$white-opacity: #ffffff91;
$black: #000;
$black-light: #212529;

$shadow: 6px 8px 20px rgb(0 0 0 / 8%);